[Unit]
Description=Mailbox synchronization service
Requires=unmetered-connection.service
After=unmetered-connection.service

[Service]
Type=oneshot
ExecStart=%E/scripts/mailsync
