[Unit]
Description=Mailbox synchronization timer

[Timer]
OnStartupSec=15s
OnUnitActiveSec=5m
Unit=mailsync.service

[Install]
WantedBy=timers.target
