[Unit]
Description=Newsboat syncronization service
Requires=unmetered-connection.service
After=unmetered-connection.service

[Service]
Type=oneshot
ExecStart=%E/scripts/newsboatsync
