[Unit]
Description=Custom compositor for Xorg
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/picom

[Install]
WantedBy=graphical-session.target
